/* ::::: http://openbox.org/oldwiki/skins/openboxwiki/main.css?97 ::::: */

#column-content { width: 100%; float: right; margin: 0px 0px 0.6em -13.2em; padding: 0px; }
#content { margin: 2.8em 0px 0px 13.2em; padding: 0px 1em 1.5em; position: relative; z-index: 2; }
#column-one { padding-top: 95px; }
#content { background: none repeat scroll 0% 0% white; color: black; border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(170, 170, 170) -moz-use-text-color rgb(170, 170, 170) rgb(170, 170, 170); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; line-height: 1.5em; }
body { font: x-small sans-serif; background: none repeat scroll 0% 0% rgb(221, 221, 221); color: black; margin: 0px; padding: 0px; }
#globalWrapper { font-size: 127%; width: 100%; margin: 0px; padding: 0px; }
.visualClear { clear: both; }
table { font-size: 100%; color: black; background-color: white; }
a { text-decoration: none; color: rgb(0, 43, 184); background: none repeat scroll 0% 0% transparent; }
a:visited { color: rgb(90, 54, 150); }
a:active { color: rgb(250, 167, 0); }
a:hover { text-decoration: underline; }
img { border: medium none; vertical-align: middle; }
p { margin: 0.4em 0px 0.5em; line-height: 1.5em; }
h1, h2, h3, h4, h5, h6 { color: black; background: none repeat scroll 0% 0% transparent; font-weight: normal; margin: 0px; padding-top: 0.5em; padding-bottom: 0.17em; border-bottom: 1px solid rgb(170, 170, 170); }
h1 { font-size: 188%; }
h2 { font-size: 150%; }
h3, h4, h5, h6 { border-bottom: medium none; font-weight: bold; }
h3 { font-size: 132%; }
h5 { font-size: 100%; }
ul { line-height: 1.5em; list-style-type: square; margin: 0.3em 0px 0px 1.5em; padding: 0px; list-style-image: url('bullet.gif'); }
li { margin-bottom: 0.1em; }
form { border: medium none; margin: 0px; }
code { background-color: rgb(249, 249, 249); }
pre { padding: 1em; border: 1px dashed rgb(47, 111, 171); color: black; background-color: rgb(249, 249, 249); line-height: 1.1em; }
#siteSub { display: none; }
#jump-to-nav { display: none; }
#contentSub, #contentSub2 { font-size: 84%; line-height: 1.2em; margin: 0px 0px 1.4em 1em; color: rgb(125, 125, 125); width: auto; }
#bodyContent h1, #bodyContent h2 { margin-bottom: 0.6em; }
#bodyContent h3, #bodyContent h4, #bodyContent h5 { margin-bottom: 0.3em; }
.firstHeading { margin-bottom: 0.1em; }
#toc, .toc, .mw-warning { border: 1px solid rgb(170, 170, 170); background-color: rgb(249, 249, 249); padding: 5px; font-size: 95%; }
#toc h2, .toc h2 { display: inline; border: medium none; padding: 0px; font-size: 100%; font-weight: bold; }
#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle { text-align: center; }
#toc ul, .toc ul { list-style-type: none; list-style-image: none; margin-left: 0px; padding-left: 0px; text-align: left; }
#toc .toctoggle, .toc .toctoggle { font-size: 94%; }
#bodyContent a.external, #bodyContent a[href^="gopher://"] { background: url('external.png') no-repeat scroll right center transparent; padding-right: 13px; }
#bodyContent a[href^="https://"], .link-https { background: url('lock_icon.gif') no-repeat scroll right center transparent; padding-right: 16px; }
#bodyContent a.external { color: rgb(51, 102, 187); }
.portlet { border: medium none; margin: 0px 0px 0.5em; padding: 0px; float: none; width: 12.8em; overflow: hidden; }
.portlet h5 { background: none repeat scroll 0% 0% transparent; padding: 0px 1em 0px 0.5em; display: inline; height: 1em; text-transform: lowercase; font-size: 91%; font-weight: normal; white-space: nowrap; }
.pBody { font-size: 95%; background-color: white; color: black; border-collapse: collapse; border: 1px solid rgb(170, 170, 170); padding: 0px 0.8em 0.3em 0.5em; }
.portlet ul { line-height: 1.5em; list-style-type: square; list-style-image: url('bullet.gif'); font-size: 95%; }
.portlet li { padding: 0px; margin: 0px; }
#p-logo { top: 0px; left: 0px; position: absolute; z-index: 3; height: 95px; width: 12em; overflow: visible; }
#p-logo a, #p-logo a:hover { display: block; height: 95px; width: 12.2em; background-repeat: no-repeat; background-position: 35% 50% ! important; text-decoration: none; }
#p-navigation, #p-support, #p-community, #p-wiki, #p-tb { position: relative; z-index: 3; }
#p-navigation a, #p-support a, #p-community a, #p-wiki a, #p-tb a { display: block; }
#p-navigation .pBody, #p-support .pBody, #p-community .pBody, #p-wiki .pBody, #p-tb .pBody { padding-right: 0px; }
#p-search { position: relative; z-index: 3; }
input.searchButton { margin-top: 1px; font-size: 95%; }
#searchGoButton { padding-left: 0.5em; padding-right: 0.5em; font-weight: bold; }
#searchInput { width: 10.9em; margin: 0px; font-size: 95%; }
#p-search .pBody { padding: 0.5em 0.4em 0.4em; text-align: center; }
#p-personal { position: absolute; left: 0px; top: 0px; z-index: 0; }
#p-personal { width: 100%; white-space: nowrap; padding: 0px; margin: 0px; border: medium none; background: none repeat scroll 0% 0% transparent; overflow: visible; line-height: 1.2em; }
#p-personal h5 { display: none; }
#p-personal .portlet, #p-personal .pBody { z-index: 0; padding: 0px; margin: 0px; border: medium none; overflow: visible; background: none repeat scroll 0% 0% transparent; }
#p-personal ul { border: medium none; line-height: 1.4em; color: rgb(47, 111, 171); padding: 0px 2em 0px 3em; margin: 0px; text-align: right; list-style: none outside none; z-index: 0; background: none repeat scroll 0% 0% transparent; cursor: default; }
#p-personal li { z-index: 0; border: medium none; padding: 0px; display: inline; color: rgb(47, 111, 171); margin-left: 1em; line-height: 1.2em; background: none repeat scroll 0% 0% transparent; }
#p-personal li a { text-decoration: none; color: rgb(0, 88, 150); padding-bottom: 0.2em; background: none repeat scroll 0% 0% transparent; }
#p-personal li a:hover { padding-bottom: 0.2em; text-decoration: none; }
li#pt-userpage, li#pt-anonuserpage, li#pt-login { background: url('user.gif') no-repeat scroll left top transparent; padding-left: 20px; text-transform: none; }
#p-personal ul { text-transform: lowercase; }
#p-cactions { position: absolute; top: 1.3em; left: 12.5em; margin: 0px; white-space: nowrap; width: 76%; line-height: 1.1em; overflow: visible; background: none repeat scroll 0% 0% transparent; border-collapse: collapse; padding-left: 1em; list-style: none outside none; font-size: 95%; }
#p-cactions ul { list-style: none outside none; }
#p-cactions li { display: inline; border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(170, 170, 170) rgb(170, 170, 170) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0px 0px 0.1em; margin: 0px 0.3em 0px 0px; overflow: visible; background: none repeat scroll 0% 0% white; }
#p-cactions li.selected { border-color: rgb(250, 189, 35); padding: 0px 0px 0.2em; font-weight: bold; }
#p-cactions li a { background-color: rgb(251, 251, 251); color: rgb(0, 43, 184); border: medium none; padding: 0px 0.8em 0.3em; position: relative; z-index: 0; margin: 0px; text-decoration: none; }
#p-cactions li.selected a { z-index: 3; padding: 0px 1em 0.2em ! important; background-color: white; }
#p-cactions li a:hover { z-index: 3; text-decoration: none; background-color: white; }
#p-cactions h5 { display: none; }
li#ca-talk { margin-right: 1.6em; }
#p-cactions .pBody { font-size: 1em; background-color: transparent; color: inherit; border-collapse: inherit; border: 0px none; padding: 0px; }
#p-cactions li a { text-transform: lowercase; }
#footer { background-color: white; border-top: 1px solid rgb(250, 189, 35); border-bottom: 1px solid rgb(250, 189, 35); margin: 0.6em 0px 1em; padding: 0.4em 0px 1.2em; text-align: center; font-size: 90%; }
#footer li { display: inline; margin: 0px 1.3em; }
#f-poweredbyico, #f-copyrightico { margin: 0px 8px; position: relative; top: -2px; }
#f-poweredbyico { float: right; height: 1%; }
.printfooter { display: none; }
/* ::::: http://openbox.org/oldwiki/index.php?title=MediaWiki:Common.css&usemsgcache=yes&action=raw&ctype=text/css&smaxage=18000 ::::: */

/* ::::: http://openbox.org/oldwiki/index.php?title=MediaWiki:Openboxwiki.css&usemsgcache=yes&action=raw&ctype=text/css&smaxage=18000 ::::: */

/* ::::: http://openbox.org/oldwiki/index.php?title=-&action=raw&gen=css&maxage=18000&useskin=openboxwiki ::::: */

